* {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.App {
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    128deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(104, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.Grid {
  min-height: 100vh;
}
